<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/AddBookShop.css"
          type="text/css"  th:href="@{~/AddBookShop.css}"/>
</head>
<body>
<div class = "AddBookShopBox">
    <img src="/image/img1.png" class="user" >
    <h2>Add BookShop</h2>

    <form id="addBookShop">
        <p>Shop Name</p>
        <input type="text" name="shopName" placeholder="enter shop name" required>
        <p>Employee Number</p>
        <input type="number" name="employeeNum" step="1" min="0" placeholder="enter employee number" required>
        <p>Shop Address</p>
        <input type="text" name="address" placeholder="shop address" required>
        <p>Phone Number</p>
        <input type="text" name="phoneNumber" placeholder="phone number" required>
        <input type="submit" value="Save & Back">
    </form>
    <script src="/Js/BookShopAdd.js">
    </script>
</div>
</body>
</html>