<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/AddGame.css"
          type="text/css"  th:href="@{~/AddGame.css}"/>
</head>
<body>
<div class = "AddGameBox">
    <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/gamecontroller-512.png" class="user" >
    <h2>Add Game</h2>
    <form action="/hello/Game">
        <p>Game Name</p>
        <input type="text" name="" placeholder="enter game name">
        <p>Game Type</p>
        <input type="text" name="" placeholder="enter game type">
        <p>Description</p>
        <input type="text" name="" placeholder="description">
        <p>Add Date</p>
        <input type="date" name="" placeholder="choose add date">
        <input type="submit"  name="" value="Save & Back">
    </form>
</div>
</body>
</html>