<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/Book.css"
        type="text/css"/>
</head>
<body>
<div class="header">
  <h1 id="title" >Book</h1>
  <h2 id="user">" No end to learning "</h2>
</div>

<div class="navbar">
  <a href="/bookShops">Book Shop</a>
  <a href="/login"  class="right">Log out</a>
</div>




<main id="main">
  <li id="addButton" class="pricingTable-firstTable_table">
    <div class="pricingTable-firstTable_table__getstart">
      <a class="a-details" id="add" href="/addBook">Add Book</a>
    </div>
  </li>



</main>

<script  src="/Js/Book.js">
</script>


<div class="footer">
  <h5>Developer: Yang Cheng</h5>
  <h5>Contact Number: (+31)0639122391</h5>
</div>
</body>
</html>

