<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/BookShop.css"
          type="text/css"  th:href="@{~/BookShop.css}"/>
</head>
<body>
<div class="header">
    <h1>Book shop</h1>
    <h2 id="user">" No end to learning "</h2>
</div>


<div class="navbar">
    <a th:href="@{/hello/expansion}">Expansion</a>
    <a th:href="@{/hello/events}">Friends</a>
    <a th:href="@{/hello/schedule}">Schedule</a>
<a th:href="@{/hello/login}"  class="right">Log out</a>
</div>






<header>
<script  src="/Js/main.js">

</script>
</header>




<div class="footer">
    <h5>developer: Yang Cheng</h5>
    <h5>contact Number: (+31)0639122391</h5>
</div>
</body>
</html>