<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/BookShop.css"
          type="text/css" th:href="@{~/BookShop.css}"/>
</head>
<body>
<div class="header">
    <h1>Book shop</h1>
    <h2 id="user">" No end to learning "</h2>
</div>

<div class="navbar">
    <a href="/expansion">Expansion</a>
    <a href="/events">Notebook</a>
    <a href="/schedule">Schedule</a>
<a href="/login"  class="right">Log out</a>
</div>


<script  src="/Js/BookShop.js">
</script>

<main id="main">


    <li class="pricingTable-firstTable_table">
        <div class="pricingTable-firstTable_table__getstart">
            <a class="a-details" href="/add">Add One</a>
        </div>
    </li>

</main>

<div class="footer">
    <h5>Developer: Yang Cheng</h5>
    <h5>Contact Number: (+31)0639122391</h5>
</div>
</body>
</html>



