<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/Game.css"
          type="text/css"  th:href="@{~/Game.css}"/>
</head>
<body>
<div class="header">
    <h1>Game Manager</h1>
    <h2>" for gamers , by gamers "</h2>
</div>


<div class="navbar">
    <a th:href="@{/hello/expansion}">Expansion</a>
    <a th:href="@{/hello/friends}">Friends</a>
    <a th:href="@{/hello/schedule}">Schedule</a>
<a href="#" class="right">Language</a>
</div>

<div class="row">
    <div class="side">
        <h1>Hello Player ! </h1>
        <a th:href="@{/hello/AddGame}">
        <button class="addButton" >Add New Game</button>
        </a>
    </div>
    <div class="main">

        <div class="fakeimg" style="height:200px;">
            <h2>game name 1</h2>
            <p>whatever......</p>
        </div>

        <br>
        <div class="fakeimg" style="height:200px;">
            <h2>game name 2</h2>
            <p>whatever......</p></div>

        <br>
        <div class="fakeimg" style="height:200px;">
            <h2>game name 2</h2>
            <p>whatever......</p></div>

        <br>
        <div class="fakeimg" style="height:200px;">
            <h2>game name 2</h2>
            <p>whatever......</p></div>

        <br>
        <div class="fakeimg" style="height:200px;">
            <h2>game name 2</h2>
            <p>whatever......</p></div>

        <br>
        <div class="fakeimg" style="height:200px;">
            <h2>game name 2</h2>
            <p>whatever......</p></div>

        <br>
        <div class="fakeimg" style="height:200px;">
            <h2>game name 2</h2>
            <p>whatever......</p></div>


    </div>
</div>

<div class="footer">
    <h5>developer: Yang Cheng</h5>
    <h5>contact Number: (+31)0639122391</h5>
</div>
</body>
</html>