<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GameManager</title>
    <link rel="stylesheet" href="../static/login.css"
          type="text/css"  th:href="@{~/login.css}"/>
</head>
  <body>
     <div class = "loginBox">
         <img src="/image/img1.png" class="user" >
         <h2>Log In Here</h2>

         <header>
         <script>
         function checkFormat(){
             var emailInput = document.forms["mForm"]["email"].value;
             var a = emailInput.indexOf("@");
             var b = emailInput.lastIndexOf(".");
             if (a<1 || b<a+2 || b+2 >= emailInput.length){
                 alert("Email format error! Please enter the correct email.");
                 return false;
             }
             var passwordInput = document.forms["mForm"]["password"].value;
             if (passwordInput === "" || passwordInput==null){
                 alert("Please enter password!");
                 return false;
             }
         }
         </script>
         </header>

         <form name="mForm" action="/hello/game" onsubmit="return checkFormat()" >
             <p>Email</p>
             <input name="email"  type="text"   placeholder="Enter Email">
             <p>Password</p>
             <input name="password" type="password"  placeholder="Password">
             <input type="submit"   value="Sign In">
             <a href="/hello/register">Register account</a>
         </form>
     </div>
  </body>
</html>