<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GameManager</title>
    <link rel="stylesheet" href="../static/Register.css"
          type="text/css"  th:href="@{~/Register.css}"/>
</head>
<body>
<div class = "registerBox">
    <h2>Register</h2>


    <header>
        <script>
            function checkFormat(){
                var emailInput = document.forms["mForm"]["email"].value;
                var a = emailInput.indexOf("@");
                var b = emailInput.lastIndexOf(".");
                if (a<1 || b<a+2 || b+2 >= emailInput.length){
                    alert("Email format error! Please enter the correct email.");
                    return false;
                }
                var passwordInput = document.forms["mForm"]["password"].value;
                var confirmPassword = document.forms["mForm"]["cPassword"].value;
                if (passwordInput !==confirmPassword){
                    alert("password and confirm password are inconsistent!");
                    return false;
                }
            }
        </script>
    </header>


    <form name="mForm" action="/hello/login" onsubmit="return checkFormat()">
        <p>Email</p>
        <input type="text" name="email" placeholder="Enter Email" required >
        <p>Password</p>
        <input type="password" name="password" placeholder="Password" required minlength="3">
        <p>Confirm Password</p>
        <input type="password" name="cPassword" placeholder="Password" required minlength="3">
        <button>Back to login</button>
    </form>
</div>
</body>
</html>