<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GameManager</title>
    <link rel="stylesheet" href="../static/Register.css"
          type="text/css"  th:href="@{~/Register.css}"/>
</head>
<body>
<div class = "registerBox">
    <h2>Register</h2>
    <form action="/hello/login">
        <p>Email</p>
        <input type="text" name="" placeholder="Enter Email">
        <p>Password</p>
        <input type="password" name="" placeholder="Password">
        <button>Back to login</button>
    </form>
</div>
</body>
</html>