<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/Schedule.css"
          type="text/css"  th:href="@{~/Schedule.css}"/>
</head>
<body>
<div id="app">
    <header id="header">
        <h1>Schedule</h1>
        <h3>Play games on time</h3>
    </header>
    <div class="navbar">
        <a th:href="@{/hello/bookShops}">Game</a>
        <a th:href="@{/hello/expansion}">Expansion</a>
        <a th:href="@{/hello/friends}">Friends</a>
        <a href="#" class="right">Language</a>
    </div>

    <div class="row">

        <div class="side">
            <h1>Plan Schedule Here </h1>
                <div class="table">
                <form action="/hello/addSchedule" method="POST">
                    <p>Schedule Name</p>
                    <input type="text" name="name" placeholder="enter schedule name">
                    <p>Schedule description</p>
                    <input type="text" name="scheduleDescription" placeholder="schedule description">
                    <p>Add Date</p>
                    <input type="text" name="date" placeholder="choose add date">
                    <p>Add Game name</p>
                    <input type="text" name="gameName" placeholder="enter game name">
                    <p>Add Friends</p>
                    <input type="text" name="friends" placeholder="enter friends">
                    <input type="submit"  name="" value="Add">
                </form>
                </div>
        </div>
        <div class="main">
            <br>
            <div class="fakeimg" th:each="myschedules: ${schedules} ">
                <h2 th:text="${myschedules.name}"></h2>
                <p th:text="Description+': '+${myschedules.scheduleDescription}"></p>
                <p th:text="Date+': '+${myschedules.date}"></p>
                <p th:text="Game+' '+Name+': '+${myschedules.gameName}"></p>
                <p th:text="With+' '+Friends+': '+${myschedules.friends}"></p>
            </div>


        </div>
    </div>
</div>

</div>
</body>
</html>